Duplicated Packet Numbers

### Tested Build

https://github.com/facebook/mvfst/commit/005aa883ef8fd81303db17f5e68aec324f5a25eb

### Observation

We observed that mvfst appears to decrypt and process packets even when a packet with the same packet number in the same packet number space was already processed. In our tests, replaying an already accepted packet results in the packet being decrypted again and the frames being processed again. While the logical outcome is idempotent, this behavior can still impose unnecessary CPU work. Is there a reason mvfst is implemented this way?

### Expected Behavior 

RFC 9000, Section 12.3 states:
> A receiver MUST discard a newly unprotected packet unless it is certain that it has not processed another packet with the same packet number from the same packet number space. Duplicate suppression MUST happen after removing packet protection for the reasons described in [Section 9.5](https://www.rfc-editor.org/rfc/rfc9001#section-9.5) of [[QUIC-TLS](https://www.rfc-editor.org/rfc/rfc9000.html#QUIC-TLS)].

Thanks @NErinola for pointing this out. We already have code to detect packet duplicates, but as you said it was not used to skip packet processing. That was mostly out of convenience since the rate of duplicate packets we observe in practice is extremely low. 

But since that is not strictly the compliant behavior, I just updated it to completely skip the duplicate packet processing in  https://github.com/facebook/mvfst/commit/4a7d558e0f500cc33adedb787da7e95616c3167f.

I will proceed to close this issue. Feel free to re-open it if you have any further questions.